*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(assets/banner-bk.jpg);
}

.nav-header{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
}